* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fbfbfb;
    background-color: rgb(16, 47, 50);
    /* height: 100vh;
    width: 100vw */

}

header {
    background-color: rgba(16, 47, 50, 0.9);
    font: #fbfbfb;
    display: flex;
    align-items: center;
    /* 6rem */
    height: 7vw; 
    justify-content: space-around;
    position: sticky;
    top: 0;
}

/* Själva kalkylatorn */
#section1 {
    background-color: transparent;
    grid-area: s01;
    background-size: cover;
    color: white;
    justify-self: center;
    align-self: center;
    /* 1rem,5rem */
    padding-top: 1.25vh;
    padding-bottom: 6.35vh;
}

/* texten ovanför calc */
#section2 {
    grid-area: s02;
    background-size: auto;
    color: white;
    justify-self: center;
    align-self: center;
    align-items: center;
    text-align: left;
    /* 24rem, 20rem, 4rem, 4rem */
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

footer {
    background-color: rgb(83, 77, 73);
    height: 40vh;
    color: rgb(255, 255, 255); 
    /* 2.5rem */
    padding: 1.75vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: row;
    position: relative;
}


/* texten i footern*/
.kontakt_info,
.sociala_medier_lankar,
.center_footer  {
text-align: center;

}


    


/*KALKYLATOR NEDAN*/
form {
    margin-bottom: 20px;
}

select {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
}

#result {
    font-weight: bold;
    margin-top: 10px;
}

.info {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #fbfbfb;
    border-radius: 50%;
    padding: 2px 5px;
    margin-left: 5px;
    color: #fbfbfb;
}

.info-text {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #f9f9f9;
    color: #333;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.info:hover .info-text {
    display: block;
}

/*KALKYLATOR OVAN*/

/* GRIDWRAPPERS */

#gridwrapper_startsida {
    margin: 15px;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    height: auto;
    grid-template-columns: 7rem 1fr 1fr auto;
    grid-template-rows: 1fr;
    column-gap: 0;
    row-gap: 0;
    grid-template-areas: 

    "s02"
    "s01";
}


/* LISTOR */

#ul1  {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 90vw;
    align-items: center;
    flex-basis: auto;
    text-align: justify;
}

/* FONTS */
@font-face {
    font-family: Raleway-Light;
    src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: Raleway-Medium;
    src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: ReemKufiFun;
    src: url(../fonts/ReemKufiFun-Regular.ttf);
}


/* TEXTFORMAT */
a {
    text-decoration: none;
    font-size: 2rem;
    color: white;
}


/* .KLASSER */

.logga {
    width: 16.6vw;
    margin: 0.6rem;
}

.sociala_medier {
    width: 3.8vw;
    margin-left: 0;
    margin-right: 0;
}


/* 
- den perfekta blåa färgen #0a193a TILL TYP DETALJER 
- en fin beige/brun/lila färg #c7aca5
*/