* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fbfbfb;
    margin: 20px;
    background-color: #102f32;
}

header { 
    background: rgb(46, 204, 113);
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: space-around;
}

footer {
    grid-area: foo;
    background-color: rgb(114, 99, 92);
    height: auto;
}

/* texten i footern*/
.kontakta-oss {
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(114, 99, 92);
}


#section1 {
    grid-area: s01;
    background-size: cover;
    color: white;
    justify-self: center;
    align-self: center;
}

form {
    margin-bottom: 20px;
}

select {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
}

#result {
    font-weight: bold;
    margin-top: 10px;
}

.info {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #fbfbfb;
    border-radius: 50%;
    padding: 2px 5px;
    margin-left: 5px;
    color: #fbfbfb;
}

.info-text {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #f9f9f9;
    color: #333;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.info:hover .info-text {
    display: block;
}

#gridwrapper_startsida {
    margin: 15px;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    height: auto;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 1070px;
    column-gap: 0;
    row-gap: 30px;
    grid-template-areas: 
    "s01"
    ;
}


/* 
- den perfekta blåa färgen #0a193a TILL TYP DETALJER 
- en fin beige/brun/lila färg #c7aca5


*/

